<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.favorite.dao.FavoriteDAO">
    <insert id="addFavoriteList">
        INSERT INTO FavoriteList (
        USERNUMBER, SGGCD, UMDNM, APTNM, JIBUN, EXCLUUSEAR, DEALYEAR, DEALMONTH, DEALDAY,
        DEALAMOUNT, FLOOR, BUILDYEAR, CDEALTYPE, CDEALDAY, DEALINGGBN, ESTATEAGENTSGGNM,
        RGSTDATE, APTDONG, SLERGBN, BUYERGBN, LANDLEASEHOLDGBN, APTSEQ, BONBUN, BUBUN,
        LANDCD, ROADNM, ROADNMBONBUN, ROADNMBUBUN, ROADNMCD, ROADNMSEQ, ROADNMSGGCD,
        ROADNMBCD, UMDCD, LAT, LNG, SUBWAYSTATION, SUBWAYDISTANCE
        ) VALUES (
        #{usernumber}, #{sggcd}, #{umdnm}, #{aptnm}, #{jibun}, #{excluusear}, #{dealyear}, #{dealmonth}, #{dealday},
        #{dealamount}, #{floor}, #{buildyear}, #{cdealtype}, #{cdealday}, #{dealinggbn}, #{estateagentsggnm},
        #{rgstdate}, #{aptdong}, #{slergbn}, #{buyergbn}, #{landleaseholdgbn}, #{aptseq}, #{bonbun}, #{bubun},
        #{landcd}, #{roadnm}, #{roadnmbonbun}, #{roadnmbubun}, #{roadnmcd}, #{roadnmseq}, #{roadnmsggcd},
        #{roadnmbcd}, #{umdcd}, #{lat}, #{lng}, #{subwaystation}, #{subwaydistance}
        )
    </insert>
</mapper>